body {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../img/utensils.jpg);
}
.nav-pills {
	float: right;
}
.title {
	text-align: center;
	color:#fff;
}
p {
	padding: 50px;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	
}
.dessets {
	list-style:none;
	font-size: 200%;
	text-align: center;
	color:black;
    float: left;
   
}
.dessets ul{
	float: left;
	
}
.dessets li{
	float: left;
	margin-left : 5px;
}
.dessets img{
	display: inline;
	margin: 5px;
	width: 381px;
    height: 200px;
    margin-left : 5px;
	
}
