<div  ng-controller="logonctrl"  >
	<div  class="slider">
	<ul>
		<li ng-repeat="dessets in dessets" class="food" >
			<img  class="img-circle" width=80% height=80% ng-src="{{dessets.img}}" />
			<a class="btn-group btn-group-justified" role="group" ng-href="{{dessets.img}}">{{dessets.name}}</a>
			</li>
			<li ng-repeat="special in specials" >
			<img class="img-circle" width=80% height=80% ng-src="{{special.img}}" />
			<a class="btn-group btn-group-justified" role="group" ng-href="{{special.img}}">{{special.name}}</a>
			</li>
	</ul>
	</div>
	</div>
