<div class="form-group has-success has-feedback" ng-controller="logonctrl"  >
	
	<form  id="myLogin">
		Username:
		<input type="text" class="form-control" id="inputSuccess5" aria-describedby="inputSuccess5Status"  id="username" ng-model="uname"/>
		<br>
		Password:
		<input type="password"  class="form-control" id="inputSuccess5" aria-describedby="inputSuccess5Status" id="password" ng-model="password"/>
		<br>
		<button type="button"  class="btn btn-default" type="submit" ng-click="submit()" id="navhide">
			Login
		</button>
	</form>
</div>
	