<div class="content_background">
	<p class="about">
	
המסעדה שלנו  זה בית.
<br>
אם אתם מחפשים מקום לאכול ארוחה טעימה, טרייה ומשתלמת, אצלנו  זה  המקום בשבילכם.
<br>
לא הרחק מנמל תל אביב ברחוב בן יהודה פועלת כבר למעלה מ-22 שנה, מוסד המשמש בית לאוהבי האוכל הטעים .
אצלנו  תמצאו מגוון רחב של אנשים, ממשפחות עם ילדים, אנשי עסקים בחליפות מחוייטות או צעירים שחזרו מהים, מסעדה שהיא קסם בלב העיר הגדולה שמחברת בין אהבה לאוכל טרי ושירות מהלב.
<br>
הארוחה נפתחת בשלל הסלטים הידועים של המקום המוגשים לשולחן, הכל תוצרת בית כמובן וכלול במחיר המנה העיקרית, החל מהאיקרה המפורסמת ועד המטיאס הכבוש והאהוב. כמובן שאם תרצו תוספת ישמחו לדאוג לכם, אבל שלא תתמלאו יותר מידי לפני המנה העיקרית.
בתפריט שעל הלוח תמצאו מבחר גדול וטרי של בשרים המסופקים למקום מדי יום , כל שנשאר לכם זה לבחור את צורת העשייה ובתאבון.
<br>
אז אם מתחשק לכם לבלות באווירה חמה עם ארוחה בניחוח של יםאתם במקום הנכון .
בטוח שתרגישו בבית.
	
	</p>
	
	
</div>